@import "./fonts.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  color: #242424;
  padding: 10px 16px;
  border: none;
  font-weight: bold;
  border-radius: 12px;
}


form {
  input {
    width: 100%;
    padding: 16px 19px;
    border: 1px solid #222222;
    margin-bottom: 28px;
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  button {
    padding: 17px 48px;
    background-color: #2735a5;
    color: #fff;
  }
}