.container {
  padding: 24px 42px;
  
  h1 {
    text-align: center;
  }
}
.main {
  display: flex;
  margin: auto;
  justify-content: center;

  > div {
    flex: 1;
  }
}

.tabs {
  text-align: center;

  button {
    margin: 0 12px;
    
    &.active {
      text-decoration: underline;
    }
  }
}

.action {
  align-self: center;
}


@media screen and (max-width: 1024px) {

  .container {
    padding: 12px 15px;
  }
  .main {
    flex-direction: column-reverse;
  }

  .tabs {
    display: flex;
    flex-direction: column;

    button {
      margin: 6px 0;
    }
  }
}