.container {
  padding: 24px 42px;
  
  .masthead {
    text-align: center;
    background-color: #2b6def;
    color: #fff;
    padding: 48px 59px;
    border-radius: 12px;
  }
}
.main {
  display: flex;
  margin: auto;
  justify-content: center;

  > div {
    flex: 1;
  }
}

.tabs {
  text-align: center;
  margin: 32px auto;

  button {
    margin: 0 12px;
    padding: 17px 97px;

    &.active {
      background-color: #2b6def;
      color: #fff;
    }
  }
}

.stats {
  margin-right: 25px;
}
.action {
  margin-left: 25px;
  align-self: center;
}


@media screen and (max-width: 1024px) {

  .container {
    padding: 12px 15px;
    main {
      flex-direction: column;
      > div {
        margin-right: 0!important;
      }
    }
  }

  .main {
    flex-direction: column-reverse;
  }

  .stats, .action {
    margin: auto;
  }

  .tabs {
    display: flex;
    flex-direction: column;

    button {
      margin: 6px 0;
    }
  }
}

.table {
  display: grid;
  > div {
    display: flex;
    justify-content: space-around;
    text-decoration: left;
    
    > div {
      flex: 1
    }

  }
}