.container {
  .blue {
    background-image: linear-gradient(117deg, #2e48cd 6%, #1f237e 96%);
    padding: 24px 42px;
    position: relative;
  }

  .topLeft {
    position: absolute;
    top: 0;
    left: 0;
    max-width: min(100vw, 742px);
  }

  .bottomRight {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: min(100vw, 574px);
  }

  .masthead, .vaults {
    position: relative; /* For bg images */
  }

  .content {
    padding: 24px 42px;
  }
  .masthead {
    text-align: center;
    color: #fff;
    padding: 48px 59px;
    border-radius: 12px;
    h1 {
      font-size: 51px;
      line-height: 62px;
    }

    p {
      font-weight: 400;
      font-size: 17px;
      line-height: 27px;
    }
  }
}
.vaults {
  display: flex;
  margin: auto;
  justify-content: center;
  flex-direction: column;

  > div {
    flex: 1;
  }
}

.tabs {
  text-align: center;
  margin: 32px auto;

  button {
    margin: 0 12px;
    padding: 17px 97px;

    &.active {
      background-color: #2b6def;
      color: #fff;
    }
  }
}

.stats {
  margin-right: 25px;
}
.action {
  margin-left: 25px;
  align-self: center;
  &.buttonContainer {
    text-align: center;
  }
  .metamaskButton{
    padding: 17px 38px;
    background: #222222;
    color: #fff;
  }
}


@media screen and (max-width: 1024px) {

  .container {
    padding: 0;
    .blue, .content, .orange {
      padding: 27px;
    }

    .masthead {
      padding: 50px 32px;
      border-radius: 12px;
      h1 {
        font-size: 31px;
        line-height: 37px;
      }
    }
  }



  .main {
    flex-direction: column-reverse;
  }

  .stats, .action {
    margin: auto;
  }

  .tabs {
    display: flex;
    flex-direction: column;

    button {
      margin: 6px 0;
    }
  }
}

.table {
  display: grid;
  .active {
    text-decoration: underline;
  }

  .arrow {
    max-width: 12px;
    margin-left: 12px;

    &.down {
      transform: rotate(180deg);
    }
  }

  > div {


    padding: 12px 24px;
    display: flex;
    justify-content: space-around;
    &:nth-of-type(2n+1){
      background: #F1F3FF 0% 0% no-repeat padding-box;
      
    }

    &.tableHead {
      background-color: #dddddd;
    }

    > div {
      flex: 1;
    }


  }
}