.header {
  padding: 24px 42px 0;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  background: none;
  position: absolute;
  width: 100%;
  color: #fff;
  z-index: 1;
  .logo {
    max-width: 117px;
  }
  span a {
    text-decoration: underline;
  }
  .link{
    margin-right: 25px;
  }
  .commands {

    .accountName {
      margin-right: 25px;
    }
    .userDetails {
      > span { 
        margin-left: 25px;
      }
    }
    a {
      display: inline-block;
    }
    flex: 1;
    justify-content: flex-end;
    flex-direction: row;
    div {
      margin-left: 24px;
      flex: 1;
    }
  }
  @media screen and (max-width: 1024px) {
    padding: 12px 15px;

    .commands {
      .userDetails{
        display: none;
      }
    }

    .button {
      display: none;
    }
  }
}
.button, .actionButton {
  padding: 17px 38px;
  background: #222222;
  color: #fff;
}
.actionButton{
  img {
    vertical-align: middle;
    margin-right: 11px;
  }
  background: #faa441;
}