.container {
  main {
    display: flex;
    padding: 25px 0;
    > div {
      flex: 1;
      color: #fff;
      border-left: 1px solid #fff;
      padding: 24px 12px;
      margin-right: 25px;
      text-align: center;
      
      &:first-of-type {
        border-left: none;
      }

      &:last-of-type {
        margin-right: 0;
      }

      h3 {
        margin-top: 0;
        color: #aeb8f6;
        font-weight: 13px;
        line-height: 18px;
      }

      p {
        font-size: 23px;
        font-weight: 700;
        line-height: 28px;      
      }
    }
  }
  .links {
    text-align: center;
    padding-bottom: 24px;
  }

  @media screen and (max-width: 1024px) {
    main {
      flex-direction: column;
      > div {
        margin-right: 0!important;
        border-left: none;
      }
    }
  }
  
}